body 
  background #228fda

.container 
  background #ffffff
  margin 10px auto 10px auto
  padding 30px
  border 1px solid #808080
  border-radius 5px
  box-shadow 5px 5px 15px

.logo 
  border-radius 5px
  margin auto

.bordered 
  border 1px solid #808080

.sideNav 
  text-align center
  .btn-group
    width 90%
  .dropdown-toggle,
  .dropdown-menu
    text-align left
    min-width 100%
  address
    padding 10pt 0
    margin 10pt

.topNav 
  margin 10px 0 0 0
  padding 0
  .nav.nav-pills li
    margin 0
    padding 0 5px 0 5px
    a
      text-align center
      border 3px solid #41a128
      font-weight bold
      font-size 1.2em
      padding 10px 0

.btn-group 
  margin-top 10px

.jumbotron 
  margin 30px 15px
  .mainCarousel
    padding 0
    img
      min-width 100%
      height 320px

.mainContent 
  margin 30px 0 30px 0
  textarea,
  input[type="text"],
  input[type="email"],
  input[type="tel"]
    width 100%
  textarea
    height 4em
  button[type="submit"]
    display block
    margin 0 auto 10px auto
  p
    text-align justify
  .pull-right
    margin-left 10px
  .pull-left
    margin-right 10px
  .liLink
    color inherit
    li:hover
      background rgba(102, 255,0,0.5)
  .liLink:hover
    text-decoration none
    h3 span
      text-decoration underline
  .img200x100
    width 200px
    height auto
  .img300x200
    width 300px
    height auto
  .nav-tabs
    font-weight bold
    li a
      color #06799F
  .newRecordForm
    input[type=submit]
      display block
  .middleBlock
    display block
    max-width 30%
    margin auto
    input
      display block
      width 100%
      margin 5pt
    input[type=submit], button
      width 100%
    h4
      text-align center
  .list-group
    .list-group-item
      border-top-width 1px !important
      img
        width auto
        height auto
        max-width 200px
        max-height 100px
    div
      button, a
        margin 5pt

footer.well
  margin 20px -30px -30px -30px

.text-justify
  text-align justify
.complimentColor 
  color #06799F

.mainColor
  color #66ff00

